:host {
    .title {
        background: #ccc;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        color: #131010;
    }
    .options {
        text-align: center;
        padding: 10px;

        select {
            padding: 5px;
            display: block;
            width: 100%;
            border-radius: 4px;
        }
    }
}