@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

html, body {
    height: 100%;
}

form {
    mat-form-field {
        margin: 0 5px;
    }
}

table {
    width: 100%;
}

.panel {
    background: #fff;
    padding: 10px;
    box-shadow: 3px 3px 0px #5f5d5d;
    margin-bottom: 10px;
}