<mat-toolbar class="header">
    <img class="logo" src="./assets/images/logo-santander.svg" alt="Logo Santander">
    <span class="title">Monitor Angular</span>
</mat-toolbar>
<mat-card class="content">
    <mat-card-title class="title">Login</mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="login()">
            <mat-form-field>
                <input type="text" matInput placeholder="E-mail">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Senha">
            </mat-form-field>
            <button class="bt-login" mat-raised-button color="warn">Login</button>
        </form>
    </mat-card-content>
</mat-card>