:host {
    display: flex;
    flex-direction: row;
    height: 100%;

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        .header {
            background: #7c0000;
            color: #fff;
            box-shadow: 0 1px 3px #d4c8c5;
            padding: 15px 10px;
            font-weight: bold;
            height: 70px;
            flex-shrink: 0;

            span {
                font-size: 26px;
                display: block;
                margin: auto;
            }
        }

        .sub-content {
            flex: 1;
        }
    }
}