:host {
    background: #353535;
    display: block;
    height: 100%;
    padding: 10px;

    .panel {
        background: #fff;
        padding: 10px;
        box-shadow: 3px 3px 0px #5f5d5d;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
    }
}