<div class="panel">
    <form [formGroup]="filterForm" class="filters">
        <div>
            <mat-form-field>
                <input matInput 
                    [matDatepicker]="pickerStart" 
                    placeholder="Data de início"
                    formControlName="dateStart">
                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Hora inicial" formControlName="timeStart">
                    <mat-option *ngFor="let period of periods; let index = index" [value]="index">
                        {{period}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput 
                    [matDatepicker]="pickerEnd" 
                    placeholder="Data de término"
                    formControlName="dateEnd">
                <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Hora final" formControlName="timeEnd">
                    <mat-option *ngFor="let period of periods; let index = index" [value]="index">
                        {{period}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
    <div class="controls">
        <div class="reload">
            <mat-form-field class="select-interval">
                <mat-select [value]="reloadIntervalValue" (selectionChange)="changeReloadInterval($event.value)">
                    <mat-option *ngFor="let interval of reloadIntervals" [value]="interval.value">
                        {{interval.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button *ngIf="autoReload._subscriptions" (click)="stopAutoReload()">
                <mat-icon class="pause">pause</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!autoReload._subscriptions" (click)="startAutoReload()">
                <mat-icon class="play">play_arrow</mat-icon>
            </button>
            <button mat-icon-button (click)="updateSearch()">
                <mat-icon color="primary">loop</mat-icon>
            </button>
        </div>
        <div class="last-update">
            <span>{{lastUpdate | date:'dd/MM/yyyy HH:mm:ss'}}</span>
        </div>
    </div>
</div>